<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>patientSignup</servlet-name>
        <servlet-class>com.controller.patientSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donarSignup</servlet-name>
        <servlet-class>com.controller.donarSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientLogin</servlet-name>
        <servlet-class>com.controller.patientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>com.controller.adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donarLogin</servlet-name>
        <servlet-class>com.controller.donarLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>patientSignup</servlet-name>
        <url-pattern>/patientSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donarSignup</servlet-name>
        <url-pattern>/donarSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientLogin</servlet-name>
        <url-pattern>/patientLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donarLogin</servlet-name>
        <url-pattern>/donarLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--Landing Page-->
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
